body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

.container-fluid {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Alaska_range.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  margin-top: 50px;
  padding: 3rem 1.5rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.contact {
  margin-top: 50px;
  padding: 3rem 1.5rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b9/Alaska_range.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  background-color: rgb(22, 112, 57);
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

.contact-form {
  font-family: 'Raleway', sans-serif;
}

